$main: #004980;
$form: #C2F5FF;
$numbers: #0080C1;
$button: #7AC100;
$buttonHover: #c7f37c;
$white: #FFF;

@font-face {
    font-family: 'StratosSkyeng';
    src: url(../fonts/stratosskyengweb-regular.woff2);
}