$main: #004980;
$form: #c2f5ff;
$numbers: #0080c1;
$button: #7ac100;
$buttonHover: #c7f37c;
$white: #fff;

@font-face {
    font-family: 'StratosSkyeng';
    src: url('../fonts/stratosskyengweb-regular.woff2');
}
